@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-4UM8hZz1D69B: 1140px;
  --plasmic-token-content-max-width: var(--token-4UM8hZz1D69B);
  --token-2VWIiH17Y8HA: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-2VWIiH17Y8HA);
  --token-SmmJTOwMn-ns: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-SmmJTOwMn-ns);
  --token-viO2rzEbvmXk: #92959bd9;
  --plasmic-token-light-label: var(--token-viO2rzEbvmXk);
  --token-paeJwdg-kpiF: #05050599;
  --plasmic-token-light-secondary: var(--token-paeJwdg-kpiF);
  --token-Fa8WCVxtFd1i: #007aff;
  --plasmic-token-light-blue: var(--token-Fa8WCVxtFd1i);
  --token-Llvnqjr5owjj: #ff3b30;
  --plasmic-token-light-red: var(--token-Llvnqjr5owjj);
  --token-xH9rdtEZhOh0: #ffffff;
  --plasmic-token-white: var(--token-xH9rdtEZhOh0);
  --token-wqyuLVdKQ3Fo: #ffffffd9;
  --plasmic-token-dark-label: var(--token-wqyuLVdKQ3Fo);
  --token-VTw6FmLPqvLE: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-VTw6FmLPqvLE);
  --token-rarigiOADMx_: #0000001a;
  --plasmic-token-light-quarternary: var(--token-rarigiOADMx_);
  --token-p3f7Koogyg_i: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-p3f7Koogyg_i);
  --token-GAidv7-b5Unr: #32d74b;
  --plasmic-token-dark-green: var(--token-GAidv7-b5Unr);
  --token-lluuth-LvCbS: #0a84ff;
  --plasmic-token-dark-blue: var(--token-lluuth-LvCbS);
  --token-Y1T94lJY3uBE: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-Y1T94lJY3uBE);
  --token-XLlxhaGW4PxD: #34c759;
  --plasmic-token-light-green: var(--token-XLlxhaGW4PxD);
  --token-JIVYglEGAkP5: #5856d6;
  --plasmic-token-light-indigo: var(--token-JIVYglEGAkP5);
  --token-BC9oQxQKtFeW: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-BC9oQxQKtFeW);
  --token-BC9oQxQKtFeW: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-BC9oQxQKtFeW);
  --token-TMlNnfYwOZ-D: 1240px;
  --plasmic-token-max-width-navbar: var(--token-TMlNnfYwOZ-D);
  --token-TMlNnfYwOZ-D: 1240px;
  --plasmic-token-max-width-navbar: var(--token-TMlNnfYwOZ-D);
  --token-YzZ9jhjCVpUW: var(--token-p7_kiBiozVf1);
  --plasmic-token-unnamed-style-token-2: var(--token-YzZ9jhjCVpUW);
  --token-YzZ9jhjCVpUW: var(--token-p7_kiBiozVf1);
  --plasmic-token-unnamed-style-token-2: var(--token-YzZ9jhjCVpUW);
  --token-p7_kiBiozVf1: #eeeeee80;
  --plasmic-token-grey: var(--token-p7_kiBiozVf1);
  --token-p7_kiBiozVf1: #eeeeee80;
  --plasmic-token-grey: var(--token-p7_kiBiozVf1);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-0FDEJ4HCnasV_font-family: "Montserrat", sans-serif;
  --mixin-0FDEJ4HCnasV_font-size: 24px;
  --mixin-0FDEJ4HCnasV_font-weight: 500;
  --mixin-0FDEJ4HCnasV_font-style: normal;
  --mixin-0FDEJ4HCnasV_color: #00000080;
  --mixin-0FDEJ4HCnasV_text-align: left;
  --mixin-0FDEJ4HCnasV_text-transform: none;
  --mixin-0FDEJ4HCnasV_line-height: 1.5;
  --mixin-0FDEJ4HCnasV_letter-spacing: normal;
  --mixin-0FDEJ4HCnasV_white-space: pre-wrap;
  --mixin-0FDEJ4HCnasV_user-select: text;
  --mixin-0FDEJ4HCnasV_text-decoration-line: none;
  --mixin-0FDEJ4HCnasV_text-overflow: clip;
  --mixin-McS3TLR0G1q__white-space: pre-wrap;
  --mixin-dCKCRq45nXjQ_font-family: "Montserrat", sans-serif;
  --mixin-dCKCRq45nXjQ_color: #ffffff;
  --mixin-dCKCRq45nXjQ_font-size: 72px;
  --mixin-dCKCRq45nXjQ_font-weight: 700;
  --mixin-dCKCRq45nXjQ_line-height: 88px;
  --mixin-dCKCRq45nXjQ_white-space: pre-wrap;
  --mixin-HjGUZQoN98qx_font-family: "Inter", sans-serif;
  --mixin-HjGUZQoN98qx_color: #000000;
  --mixin-HjGUZQoN98qx_font-size: 36px;
  --mixin-HjGUZQoN98qx_font-weight: 700;
  --mixin-HjGUZQoN98qx_line-height: 43px;
  --mixin-HjGUZQoN98qx_text-align: center;
  --mixin-HjGUZQoN98qx_white-space: pre-wrap;
  --mixin-N-qKm10Ky4Y8_font-family: "Inter", sans-serif;
  --mixin-N-qKm10Ky4Y8_color: #000000;
  --mixin-N-qKm10Ky4Y8_font-size: 24px;
  --mixin-N-qKm10Ky4Y8_font-weight: 600;
  --mixin-N-qKm10Ky4Y8_letter-spacing: -0.5px;
  --mixin-N-qKm10Ky4Y8_line-height: 1.3;
  --mixin-N-qKm10Ky4Y8_white-space: pre-wrap;
  --mixin-4Ibna02cqyxy_font-family: "Montserrat", sans-serif;
  --mixin-4Ibna02cqyxy_color: #185adb;
  --mixin-4Ibna02cqyxy_font-size: 24px;
  --mixin-4Ibna02cqyxy_font-weight: 700;
  --mixin-4Ibna02cqyxy_line-height: 29px;
  --mixin-4Ibna02cqyxy_text-align: center;
  --mixin-4Ibna02cqyxy_white-space: pre-wrap;
  --mixin-sw72RLtjWjhQ_font-family: "Inter", sans-serif;
  --mixin-sw72RLtjWjhQ_color: #000000;
  --mixin-sw72RLtjWjhQ_font-size: 16px;
  --mixin-sw72RLtjWjhQ_font-weight: 600;
  --mixin-sw72RLtjWjhQ_line-height: 1.5;
  --mixin-sw72RLtjWjhQ_white-space: pre-wrap;
  --mixin-GAq3giV5nfQK_border-left-color: #dddddd;
  --mixin-GAq3giV5nfQK_border-left-style: solid;
  --mixin-GAq3giV5nfQK_border-left-width: 3px;
  --mixin-GAq3giV5nfQK_color: #888888;
  --mixin-GAq3giV5nfQK_padding-left: 10px;
  --mixin-GAq3giV5nfQK_white-space: pre-wrap;
  --mixin-4iolzyB7vIjw_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-4iolzyB7vIjw_border-bottom-color: #dddddd;
  --mixin-4iolzyB7vIjw_border-bottom-style: solid;
  --mixin-4iolzyB7vIjw_border-bottom-width: 1px;
  --mixin-4iolzyB7vIjw_border-left-color: #dddddd;
  --mixin-4iolzyB7vIjw_border-left-style: solid;
  --mixin-4iolzyB7vIjw_border-left-width: 1px;
  --mixin-4iolzyB7vIjw_border-right-color: #dddddd;
  --mixin-4iolzyB7vIjw_border-right-style: solid;
  --mixin-4iolzyB7vIjw_border-right-width: 1px;
  --mixin-4iolzyB7vIjw_border-top-color: #dddddd;
  --mixin-4iolzyB7vIjw_border-top-style: solid;
  --mixin-4iolzyB7vIjw_border-top-width: 1px;
  --mixin-4iolzyB7vIjw_border-bottom-left-radius: 3px;
  --mixin-4iolzyB7vIjw_border-bottom-right-radius: 3px;
  --mixin-4iolzyB7vIjw_border-top-left-radius: 3px;
  --mixin-4iolzyB7vIjw_border-top-right-radius: 3px;
  --mixin-4iolzyB7vIjw_font-family: "Inconsolata";
  --mixin-4iolzyB7vIjw_padding-bottom: 1px;
  --mixin-4iolzyB7vIjw_padding-left: 4px;
  --mixin-4iolzyB7vIjw_padding-right: 4px;
  --mixin-4iolzyB7vIjw_padding-top: 1px;
  --mixin-4iolzyB7vIjw_white-space: pre-wrap;
  --mixin-o8P0u7DvkxKv_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-o8P0u7DvkxKv_border-bottom-color: #dddddd;
  --mixin-o8P0u7DvkxKv_border-bottom-style: solid;
  --mixin-o8P0u7DvkxKv_border-bottom-width: 1px;
  --mixin-o8P0u7DvkxKv_border-left-color: #dddddd;
  --mixin-o8P0u7DvkxKv_border-left-style: solid;
  --mixin-o8P0u7DvkxKv_border-left-width: 1px;
  --mixin-o8P0u7DvkxKv_border-right-color: #dddddd;
  --mixin-o8P0u7DvkxKv_border-right-style: solid;
  --mixin-o8P0u7DvkxKv_border-right-width: 1px;
  --mixin-o8P0u7DvkxKv_border-top-color: #dddddd;
  --mixin-o8P0u7DvkxKv_border-top-style: solid;
  --mixin-o8P0u7DvkxKv_border-top-width: 1px;
  --mixin-o8P0u7DvkxKv_border-bottom-left-radius: 3px;
  --mixin-o8P0u7DvkxKv_border-bottom-right-radius: 3px;
  --mixin-o8P0u7DvkxKv_border-top-left-radius: 3px;
  --mixin-o8P0u7DvkxKv_border-top-right-radius: 3px;
  --mixin-o8P0u7DvkxKv_font-family: "Inconsolata";
  --mixin-o8P0u7DvkxKv_padding-bottom: 3px;
  --mixin-o8P0u7DvkxKv_padding-left: 6px;
  --mixin-o8P0u7DvkxKv_padding-right: 6px;
  --mixin-o8P0u7DvkxKv_padding-top: 3px;
  --mixin-o8P0u7DvkxKv_white-space: pre-wrap;
  --mixin-peYHWakJh8I0_display: flex;
  --mixin-peYHWakJh8I0_flex-direction: column;
  --mixin-peYHWakJh8I0_align-items: stretch;
  --mixin-peYHWakJh8I0_justify-content: flex-start;
  --mixin-peYHWakJh8I0_list-style-position: outside;
  --mixin-peYHWakJh8I0_padding-left: 40px;
  --mixin-peYHWakJh8I0_position: relative;
  --mixin-peYHWakJh8I0_list-style-type: decimal;
  --mixin-peYHWakJh8I0_white-space: pre-wrap;
  --mixin-bSejFm0Wpgh3_display: flex;
  --mixin-bSejFm0Wpgh3_flex-direction: column;
  --mixin-bSejFm0Wpgh3_align-items: stretch;
  --mixin-bSejFm0Wpgh3_justify-content: flex-start;
  --mixin-bSejFm0Wpgh3_list-style-position: outside;
  --mixin-bSejFm0Wpgh3_padding-left: 40px;
  --mixin-bSejFm0Wpgh3_position: relative;
  --mixin-bSejFm0Wpgh3_list-style-type: disc;
  --mixin-bSejFm0Wpgh3_white-space: pre-wrap;
  --mixin-jp_tHoPb520s_color: #000000;
  --mixin-jp_tHoPb520s_font-family: "Montserrat", sans-serif;
  --mixin-jp_tHoPb520s_font-size: 64px;
  --mixin-jp_tHoPb520s_font-weight: 700;
  --mixin-jp_tHoPb520s_line-height: 78px;
  --mixin-jp_tHoPb520s_text-align: center;
  --mixin-jp_tHoPb520s_white-space: pre-wrap;
  --mixin-3xZUqi5Tjazk_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-0FDEJ4HCnasV_font-size: 16px;
    --mixin-0FDEJ4HCnasV_line-height: 27px;
    --mixin-0FDEJ4HCnasV_white-space: pre-wrap;
    --mixin-dCKCRq45nXjQ_font-size: 40px;
    --mixin-dCKCRq45nXjQ_line-height: 48px;
    --mixin-dCKCRq45nXjQ_white-space: pre-wrap;
    --mixin-jp_tHoPb520s_font-size: 28px;
    --mixin-jp_tHoPb520s_line-height: 34px;
    --mixin-jp_tHoPb520s_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-sWxNs9jICjm7_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-sWxNs9jICjm7_white-space);
  --mixin-wsMVgJfppFwl_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-wsMVgJfppFwl_box-shadow
  );
  --mixin-wsMVgJfppFwl_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-wsMVgJfppFwl_white-space
  );
  --mixin-tTCfzQBEkLwX_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-tTCfzQBEkLwX_white-space);
  --mixin-LAn8fugxhmcG_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-LAn8fugxhmcG_white-space
  );
  --mixin-Smv0dw_Arm2G_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-Smv0dw_Arm2G_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-0FDEJ4HCnasV_font-family);
  font-size: var(--mixin-0FDEJ4HCnasV_font-size);
  font-weight: var(--mixin-0FDEJ4HCnasV_font-weight);
  font-style: var(--mixin-0FDEJ4HCnasV_font-style);
  color: var(--mixin-0FDEJ4HCnasV_color);
  text-align: var(--mixin-0FDEJ4HCnasV_text-align);
  text-transform: var(--mixin-0FDEJ4HCnasV_text-transform);
  line-height: var(--mixin-0FDEJ4HCnasV_line-height);
  letter-spacing: var(--mixin-0FDEJ4HCnasV_letter-spacing);
  white-space: var(--mixin-0FDEJ4HCnasV_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-dCKCRq45nXjQ_font-family);
  color: var(--mixin-dCKCRq45nXjQ_color);
  font-size: var(--mixin-dCKCRq45nXjQ_font-size);
  font-weight: var(--mixin-dCKCRq45nXjQ_font-weight);
  line-height: var(--mixin-dCKCRq45nXjQ_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-HjGUZQoN98qx_font-family);
  color: var(--mixin-HjGUZQoN98qx_color);
  font-size: var(--mixin-HjGUZQoN98qx_font-size);
  font-weight: var(--mixin-HjGUZQoN98qx_font-weight);
  line-height: var(--mixin-HjGUZQoN98qx_line-height);
  text-align: var(--mixin-HjGUZQoN98qx_text-align);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-N-qKm10Ky4Y8_font-family);
  color: var(--mixin-N-qKm10Ky4Y8_color);
  font-size: var(--mixin-N-qKm10Ky4Y8_font-size);
  font-weight: var(--mixin-N-qKm10Ky4Y8_font-weight);
  letter-spacing: var(--mixin-N-qKm10Ky4Y8_letter-spacing);
  line-height: var(--mixin-N-qKm10Ky4Y8_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-4Ibna02cqyxy_font-family);
  color: var(--mixin-4Ibna02cqyxy_color);
  font-size: var(--mixin-4Ibna02cqyxy_font-size);
  font-weight: var(--mixin-4Ibna02cqyxy_font-weight);
  line-height: var(--mixin-4Ibna02cqyxy_line-height);
  text-align: var(--mixin-4Ibna02cqyxy_text-align);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-sw72RLtjWjhQ_font-family);
  color: var(--mixin-sw72RLtjWjhQ_color);
  font-size: var(--mixin-sw72RLtjWjhQ_font-size);
  font-weight: var(--mixin-sw72RLtjWjhQ_font-weight);
  line-height: var(--mixin-sw72RLtjWjhQ_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-GAq3giV5nfQK_color);
  padding-left: var(--mixin-GAq3giV5nfQK_padding-left);
  border-left: var(--mixin-GAq3giV5nfQK_border-left-width)
    var(--mixin-GAq3giV5nfQK_border-left-style)
    var(--mixin-GAq3giV5nfQK_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-4iolzyB7vIjw_font-family);
  border-radius: var(--mixin-4iolzyB7vIjw_border-top-left-radius)
    var(--mixin-4iolzyB7vIjw_border-top-right-radius)
    var(--mixin-4iolzyB7vIjw_border-bottom-right-radius)
    var(--mixin-4iolzyB7vIjw_border-bottom-left-radius);
  padding: var(--mixin-4iolzyB7vIjw_padding-top)
    var(--mixin-4iolzyB7vIjw_padding-right)
    var(--mixin-4iolzyB7vIjw_padding-bottom)
    var(--mixin-4iolzyB7vIjw_padding-left);
  border-top: var(--mixin-4iolzyB7vIjw_border-top-width)
    var(--mixin-4iolzyB7vIjw_border-top-style)
    var(--mixin-4iolzyB7vIjw_border-top-color);
  border-right: var(--mixin-4iolzyB7vIjw_border-right-width)
    var(--mixin-4iolzyB7vIjw_border-right-style)
    var(--mixin-4iolzyB7vIjw_border-right-color);
  border-bottom: var(--mixin-4iolzyB7vIjw_border-bottom-width)
    var(--mixin-4iolzyB7vIjw_border-bottom-style)
    var(--mixin-4iolzyB7vIjw_border-bottom-color);
  border-left: var(--mixin-4iolzyB7vIjw_border-left-width)
    var(--mixin-4iolzyB7vIjw_border-left-style)
    var(--mixin-4iolzyB7vIjw_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-o8P0u7DvkxKv_font-family);
  border-radius: var(--mixin-o8P0u7DvkxKv_border-top-left-radius)
    var(--mixin-o8P0u7DvkxKv_border-top-right-radius)
    var(--mixin-o8P0u7DvkxKv_border-bottom-right-radius)
    var(--mixin-o8P0u7DvkxKv_border-bottom-left-radius);
  padding: var(--mixin-o8P0u7DvkxKv_padding-top)
    var(--mixin-o8P0u7DvkxKv_padding-right)
    var(--mixin-o8P0u7DvkxKv_padding-bottom)
    var(--mixin-o8P0u7DvkxKv_padding-left);
  border-top: var(--mixin-o8P0u7DvkxKv_border-top-width)
    var(--mixin-o8P0u7DvkxKv_border-top-style)
    var(--mixin-o8P0u7DvkxKv_border-top-color);
  border-right: var(--mixin-o8P0u7DvkxKv_border-right-width)
    var(--mixin-o8P0u7DvkxKv_border-right-style)
    var(--mixin-o8P0u7DvkxKv_border-right-color);
  border-bottom: var(--mixin-o8P0u7DvkxKv_border-bottom-width)
    var(--mixin-o8P0u7DvkxKv_border-bottom-style)
    var(--mixin-o8P0u7DvkxKv_border-bottom-color);
  border-left: var(--mixin-o8P0u7DvkxKv_border-left-width)
    var(--mixin-o8P0u7DvkxKv_border-left-style)
    var(--mixin-o8P0u7DvkxKv_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-peYHWakJh8I0_display);
  flex-direction: var(--mixin-peYHWakJh8I0_flex-direction);
  align-items: var(--mixin-peYHWakJh8I0_align-items);
  justify-content: var(--mixin-peYHWakJh8I0_justify-content);
  list-style-position: var(--mixin-peYHWakJh8I0_list-style-position);
  padding-left: var(--mixin-peYHWakJh8I0_padding-left);
  position: var(--mixin-peYHWakJh8I0_position);
  list-style-type: var(--mixin-peYHWakJh8I0_list-style-type);
  flex-column-gap: var(--mixin-peYHWakJh8I0_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-bSejFm0Wpgh3_display);
  flex-direction: var(--mixin-bSejFm0Wpgh3_flex-direction);
  align-items: var(--mixin-bSejFm0Wpgh3_align-items);
  justify-content: var(--mixin-bSejFm0Wpgh3_justify-content);
  list-style-position: var(--mixin-bSejFm0Wpgh3_list-style-position);
  padding-left: var(--mixin-bSejFm0Wpgh3_padding-left);
  position: var(--mixin-bSejFm0Wpgh3_position);
  list-style-type: var(--mixin-bSejFm0Wpgh3_list-style-type);
  flex-column-gap: var(--mixin-bSejFm0Wpgh3_flex-column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-jp_tHoPb520s_color);
  font-family: var(--mixin-jp_tHoPb520s_font-family);
  font-size: var(--mixin-jp_tHoPb520s_font-size);
  font-weight: var(--mixin-jp_tHoPb520s_font-weight);
  line-height: var(--mixin-jp_tHoPb520s_line-height);
  text-align: var(--mixin-jp_tHoPb520s_text-align);
}

:where(.root_reset) h2:where(.h2):hover,
h2:where(.root_reset.h2):hover,
:where(.root_reset .__wab_expr_html_text) h2:hover,
:where(.root_reset_tags) h2:hover,
h2:where(.root_reset_tags):hover {
}
