.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #1c1c1c;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox__r9Fki {
  display: flex;
  position: relative;
  max-width: var(--token-4UM8hZz1D69B);
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__r9Fki > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__r9Fki > :global(.__wab_flex-container) > *,
.freeBox__r9Fki > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__r9Fki > :global(.__wab_flex-container) > picture > img,
.freeBox__r9Fki
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__r9Fki {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__r9Fki > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__r9Fki > :global(.__wab_flex-container) > *,
  .freeBox__r9Fki > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__r9Fki > :global(.__wab_flex-container) > picture > img,
  .freeBox__r9Fki
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__ogUsc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__ogUsc {
    justify-content: center;
  }
}
.freeBox__bUrcL {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: auto;
  left: auto;
  top: auto;
  right: auto;
  width: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo:global(.__wab_instance) {
    align-self: center;
    margin-top: 0px;
  }
}
.text__sIvB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #eeeeee80;
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__sIvB {
    text-align: center;
  }
}
.freeBox__fSxgY {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__fSxgY {
    align-self: center;
    justify-content: center;
  }
}
.svg__u9MkY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: auto;
  height: 1em;
}
.svg__fv9I {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__oV3J {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg__uH71C {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.column__vAoHb {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__vAoHb {
    justify-content: center;
  }
}
.h4__r1MTv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__r1MTv {
    text-align: center;
  }
}
.button__gRgkm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__gRgkm:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__aZc76 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__vm1H {
  color: #92959b;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__vm1H {
    text-align: center;
  }
}
.svg___66Saq {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___3Q7Ft:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___3Q7Ft:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__xeQU {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__pjQfy {
  color: #92959b;
}
.svg___9S65X {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__xPvLv:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__xPvLv:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__v51OX {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__cmFn1 {
  color: #92959b;
}
.svg__txwXg {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__ilxQw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__ilxQw:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__niM2P {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__u21Hz {
  color: #92959b;
}
.svg__kJhaC {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__wFnqh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__wFnqh {
    justify-content: center;
  }
}
.h4__j1QwE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__j1QwE {
    align-self: center;
    text-align: center;
  }
}
.button__ezddg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__ezddg:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__hkc1J {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__jrmHj {
  color: #92959b;
}
.svg___1TY2 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__yTuU5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__yTuU5:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__wgkcr {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__fstFq {
  color: #92959b;
}
.svg__lPnfY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__jrjY2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__jrjY2 {
    justify-content: center;
  }
}
.h4___1HhJ8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4___1HhJ8 {
    align-self: center;
    text-align: center;
  }
}
.button__s6GqV:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__s6GqV:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__umMim {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__cqMd2 {
  color: #92959b;
}
.svg__ldXjk {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__aonLm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__aonLm:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__wicng {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___53L {
  color: #92959b;
}
.svg__aaPaE {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__cSs3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__cSs3:global(.__wab_instance) {
    align-self: center;
  }
}
.svg___6ZcGp {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__ildoQ {
  color: #92959b;
}
.svg__c0Mfc {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__zqyIi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
.text__befJi {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 206px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__befJi {
    padding-top: 129px;
  }
}
